@import "tailwindcss";

@layer fonts {
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atma';
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/atma-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap;
    font-family: 'Atma';
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/atma-v19-latin-500.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: 'Atma';
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/atma-v19-latin-600.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: 'Atma';
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/atma-v19-latin-700.woff2") format("woff2");
  }
}

@custom-variant dark (&:is(.dark *));
@theme {
  --font-atma: 'Atma', font-atma;
}

body {
  @apply font-atma  ;
}

@layer utilities {
  button {
    @apply cursor-pointer;
  }

  .container {
    @apply max-w-4xl mx-auto px-4 sm:px-6 py-6 sm:py-8;
  }

  input {
    @apply outline-none;
  }
}
