@import "tailwindcss";

@layer fonts {
  /* lexend-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/lexend-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* lexend-500 - latin */
  @font-face {
    font-display: swap;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/lexend-v26-latin-500.woff2") format("woff2");
  }

  /* lexend-600 - latin */
  @font-face {
    font-display: swap;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/lexend-v26-latin-600.woff2") format("woff2");
  }

  /* lexend-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/lexend-v26-latin-700.woff2") format("woff2");
  }
}

@custom-variant dark (&:is(.dark *));
@theme {
  --font-lexend: "Lexend", sans-serif;
}

body {
  @apply font-lexend;
}

@layer utilities {
  button {
    @apply cursor-pointer;
  }

  .container {
    @apply max-w-4xl mx-auto px-4 sm:px-6 py-6 sm:py-8;
  }

  input {
    @apply outline-none;
  }
}
